extends layout

block errorMsg
    <div class="jumbotron" style="text-align:center;">
        <h1 class="display-4">Oops!</h1>
        <p class="lead">Sorry. We couldn't sign you up because your email or phone number is already registered.</p>
        <hr class="my-4">
        <p>Try again with a different email/phone number.</p>
        <p class="lead"><a class="btn btn-primary btn-lg" href="/mailer" role="button">Home Page</a></p>
    </div>

