extends layout

block loginfail
    <div class="jumbotron" style="text-align:center;">
        <h1 class="display-4">Oops!</h1>
        <p class="lead">Failed to log in. Please try again!</p>
        <hr class="my-4">
        <p>Incorrect username/password.</p>
        <p class="lead"><a class="btn btn-primary btn-lg" href="/login" role="button">Log In</a></p>
    </div>